@@ -160,7 +160,7 @@ a.form-control.scalarValueInlinePromptLink:hover {

a{
    text-decoration: none;
    color:black;
    color:#426ab2;
}
a:hover{
    text-decoration: underline;
    color:black;
}
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}
/*Esto oculta el boton MostrarTabla */
/*div.linksSelectorPanel > div.btn-group.viewLinks {
display:none;
}*/
/*Aplica estilo al boton Mostrar Todos que aparece cuando hay varias paginas */
.navigatorLabel .btn-link {
    /*border: 1px solid black;*/
    color: black;
    background-color: #47a2ce;
}
