<ion-header [translucent]="true">
  <ion-toolbar color="asid">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vehiculos
    </ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item *ngFor="let resultado of resultadosV" (click)="goDetVeh(resultado.$$instanceId)">
      
      <ion-avatar slot="start">
        <ion-img src="https://image.flaticon.com/icons/png/512/26/26596.png"></ion-img>
      </ion-avatar>
  
      <ion-label>
        <h1>{{resultado.$$title | uppercase}}</h1>
        <p> {{resultado.estado | uppercase}}</p>
      </ion-label>
  
    </ion-item>

  </ion-card>

</ion-content>
