<ion-header>
  <ion-toolbar color="asid">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nuevo Checklist</ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="checkForm" (ngSubmit)="submit()">


      <ion-card>

            <!--SELECCION DE OPERARIO-->
          <ion-item>
            <ion-icon name="person-add" slot="start"></ion-icon>
            <ion-select #C placeholder="Seleccione Usuario" (ionChange)="onSelectOperario($event.detail.value)">
              <ion-select-option
                *ngFor="let usuario of operarioArray"
                [value]="usuario">
                {{usuario.$$title}}
              </ion-select-option>
            </ion-select>
          </ion-item>

            <!--SELECCION DE vehiculo-->
          <ion-item>
              <ion-icon name="car" slot="start"></ion-icon>
              <ion-select #C placeholder="Seleccione Vehiculo" (ionChange)="onSelectVehiculo($event.detail.value)">
              <ion-select-option
                *ngFor="let dominio of vehiculoArray"
                [value]="dominio">
                {{dominio.$$title}}
              </ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item>
          <ion-icon name="medkit" slot="start"></ion-icon>
          Identificacion &nbsp;
          <ion-input type="text" formControlName="identificacion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="navigate" slot="start"></ion-icon>
          Destino &nbsp;
          <ion-input type="text" formControlName="destino"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Fecha de Salida</ion-label>
          <ion-datetime
            value="03-06-2021"
            formControlName="fechaDeSalida"
            displayFormat="DD/MM/YYYY"
            cancelText="Cancelar"
            doneText="OK"
          ></ion-datetime>
        </ion-item>


        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          <ion-label>Documentacion</ion-label>
          <ion-select interface="popover" formControlName="documentacion">
            <ion-select-option>Habilitado</ion-select-option>
            <ion-select-option>NoHabilitado</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          <ion-label>Tablero</ion-label>
          <ion-select interface="popover" formControlName="tablero">
            <ion-select-option>Habilitado</ion-select-option>
            <ion-select-option>NoHabilitado</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          <ion-label>Laterales</ion-label>
          <ion-select interface="popover" formControlName="laterales">
            <ion-select-option>Habilitado</ion-select-option>
            <ion-select-option>NoHabilitado</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          <ion-label>Seccion Trasera</ion-label>
          <ion-select interface="popover" formControlName="seccionTrasera">
            <ion-select-option>Habilitado</ion-select-option>
            <ion-select-option>NoHabilitado</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          <ion-label>Frente</ion-label>
          <ion-select interface="popover" formControlName="frente">
            <ion-select-option>Habilitado</ion-select-option>
            <ion-select-option>NoHabilitado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="reader" slot="start"></ion-icon>
          Comentarios &nbsp;
          <ion-input type="text" formControlName="comentarios"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="image" slot="start"></ion-icon>
          Fotos &nbsp;
          <ion-input type="file" (change)=handleFileImput($event)></ion-input>
        </ion-item>

      </ion-card>

      <ion-button id="submit" expand="block" type="submit" color="asid">
        Guardar
      </ion-button>
    </form>
  </div>
</ion-content>