<ion-header [translucent]="true">
  <ion-toolbar color="asid">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-align="center">
      AsiD - Control de Flota
    </ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <h1>Bienvenido Usuario</h1>
    <h2>Por favor, recorra el menú y escoja la acción a realizar</h2>    
  </div>
</ion-content>
