<ion-header>
  <ion-toolbar color="asid">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/operarios"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Operario</ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label *ngIf="opData != null">
    
  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center"><strong>{{opData.$$title}}</strong></ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="id-card" slot="start"></ion-icon>
      <ion-label>
        <strong>Legajo SAP</strong> 
        {{opData.legajoSAP}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <strong>Correo </strong>
        {{opData.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>
        <strong>Estado </strong>
        {{opData.estado | uppercase}}</ion-label>
    </ion-item>


  </ion-card> 

  </ion-label>

</ion-content>
