<ion-header [translucent]="true">
  <ion-toolbar color="asid">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Operarios
    </ion-title>
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item *ngFor="let resultado of resultados" (click)="goDetOp(resultado.$$instanceId)">
      
      <ion-avatar slot="start">
        <ion-img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"></ion-img>
      </ion-avatar>
  
      <ion-label>
        <h1>{{resultado.$$title}}</h1>
        <p> {{resultado.estado | uppercase}}</p>
      </ion-label>
  
    </ion-item>

  </ion-card>

</ion-content>
